{{!-- Navigation bar --}}
<nav class="navbarnavbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
            <a class="navbar-brand" href="#">Mongo Scraper</a>
            <li><a class="nav-item nav-link home" href="#">Home</a></li>
            <li><a class="nav-item nav-link saved" href="#">Saved Articles</a></li>
            <li><button class="btn btn-danger scrape">Scrape New Articles</button></li>
            <li><button class="btn btn-danger clear">Clear Articles</button></li>
    </div>
</nav>
<br>

<div class="container-fluid">
    <div class="jumbotron text-center header">
        <div class="overlay">
            <div class="titleOverlay">
                <h1 class="title text-muted">Mongo Scraper</h1>
                <h2 class="text-dark">The New York Times Food Edition</h2>
            </div>
        </div>
    </div>
    <div class = row>
        <div class = "col-12">
            <div id="articles">
                {{!-- {{#if article}} --}} 
                    {{#each articles}} 
                        {{!-- For each scraped article --}}
                        {{#unless saved}}
                        {{!-- It it is not saved ==> save = true in then db --}}
                            <div class="article">
                                {{!-- The scraped informations are displayed --}}
                                <img src="{{image}}" style="height: 150px;">
                                <h3>{{title}}</h3>
                                <p>{{summary}}</p>
                                <a href="{{link}}" target="_blank">{{link}}</a>
                                <br>
                                {{!-- Button to save the article in the saved page --}}
                                <button class="btn btn-primary save" data-id="{{_id}}">Save</button>
                            </div>
                            <br>
                        {{/unless}}
                    {{/each}}
                {{!-- {{else}} --}}
                    {{!-- <h4>Uh Oh. Looks like we don't have any new articles.</h4> --}}
                {{!-- {{/if}} --}}
            </div>
        </div>
    </div>
</div>
  