{{!-- Navigation bar --}}
<nav class="navbarnavbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
            <a class="navbar-brand" href="#">Mongo Scraper</a>
            <li><a class="nav-item nav-link home" href="#">Home</a></li>
            <li><a class="nav-item nav-link saved" href="#">Saved Articles</a></li>
            <li><button class="btn btn-danger scrape">Scrape New Articles</button></li>
            <li><button class="btn btn-danger clear">Clear Articles</button></li>
    </div>
</nav>
<br>


<div class="container-fluid">
    <div class="jumbotron text-center header">
        <div class="overlay">
            <div class="caption">
                <h1 class="display-1 text-muted">Mongo Scraper</h1>
                <h2 class="text-dark">The New York Times Food Edition</h2>
            </div>
        </div>
    </div>
    <div class=row>
        <div class = "col-12">
            <div id="articles">
                {{#each articles}}
                    {{#unless saved}}
                    <div class="article">
                        <img src="{{image}}" style="height: 100px;">
                        <a href="{{link}}" target="_blank">
                            <h2>{{title}}</h2>
                        </a>
                        <p>{{summary}}</p>
                        <button class="btn btn-primary save" data-id="{{_id}}">Save</button>
                    </div>
                    <br>
                    {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
  