{{!-- Navigation bar --}}
<nav class="navbarnavbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
            <a class="navbar-brand" href="#">Mongo Scraper - SAVED ARTICLES -</a>
            <li><a class="nav-item nav-link home" href="#">Home</a></li>
            <li><button class="btn btn-danger clear">Clear Articles</button></li>
    </div>
</nav>
<br>

<div class="container-fluid">
    <div class="jumbotron text-center header">
        <div class="overlay">
            <div class="titleOverlay">
                <h1 class="title text-muted">Mongo Scraper</h1>
                <h2 class="text-dark">The New York Times Food Edition</h2>
            </div>
        </div>
    </div>
    <div class = row>
        <div class = "col-12">
            <div id="articles">
                {{#each articles}}
                {{!-- For each saved articles --}}
                    {{#if saved}}
                        <div class="article">
                            {{!-- The scraped informations are displayed --}}
                            <img src="{{image}}" style="height:150px;">
                            <h2>{{title}}</h2>
                            <p>{{summary}}</p>
                            <a href="{{link}}" target="_blank">{{link}}</a>
                            <br>
                            {{!-- Button to "unsave" an article ==> save = false --}}
                            <button class="btn btn-primary deleteFromSaved" data-id="{{_id}}">DELETE FROM SAVED</button>
                            {{!-- <button class="btn btn-primary addNote" data-id="{{_id}}">ARTICLE NOTES</button> --}}
                            {{!-- Button to add/update/delete a note for an article --}}
                            {{!-- <button type="button" class="btn btn-primary addNote" data-toggle="modal" data-id="{{_id}}">ARTICLE NOTES</button> --}}
                            {{!-- <button type="button" class="btn btn-primary addNote" data-toggle="modal" data-target="#noteModal{{_id}}" data-id="{{_id}}"> --}}
                            <button type="button" class="btn btn-primary addNote" data-toggle="modal" data-target="#noteModal" data-id="{{_id}}">
                                ARTICLE NOTES
                            </button>
                        </div>
                        <br>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
 

<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="notes">
                <div class="card">
                    <ul class="list-group list-group-flush listArticles"></ul>
                </div>
                <br/>
                <div class="form-group">
                    <label for="note-input" class="sr-only">Enter Note Here</label>
                    <textarea class="form-control note-input" rows="3" placeholder="New Note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary saveNote">Save note</button>
            </div>
        </div>
    </div>
</div>

 